body{
  background-image: url("../Images/front_page.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

div#heading {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: bold;
  font-size: 50px;
}

div#displayTime{
  margin: 0;
  position: absolute;
  top: 48%;
  left: 53%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: bold;
  font-size: 20px;
}

div#container{
  display: block;
  width: 50%;
  position: absolute;
  top: 65%;
  left: 64%;
  transform: translate(-50%,-50%);
}

div.frontPageList{
  display: block;
  width: 420px;
  border: 3px solid white;
  color: black;
  border-radius: 10px;
  font-size: 32px;
  margin-bottom: 15px;
  text-align: center;
}

div.frontPageList:hover{
  cursor:pointer;
  background: tomato;
  color: white;
  border: 3px solid tomato;
  margin-bottom: 15px;
}

img#anweshaPhoto{
  position: absolute;
  top: 10%;
  left: 47%;
  width: 170px;
  height: 170px;
  border: 5px solid white;
  border-radius: 100px;
  box-shadow: 0 0 20px rgba(255, 182, 193, 0.8), /* Light pink glow */
                0 0 40px rgba(255, 182, 193, 0.6),
                0 0 60px rgba(255, 182, 193, 0.4),
                0 0 80px rgba(255, 182, 193, 0.2);
}

img#information_icon{
  width:80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
}

img#information_icon:hover{
  cursor: pointer;
}

div.frontPageList:nth-child(2):hover{
  cursor: not-allowed;
  color: white;
  background: rgba(0,0,0,0.6);
  border:3px solid rgba(0,0,0,0.6);
}

img#information_banner{
  display: none;
  width: 730px;
  height: 500px;
  position: absolute;
  top: 13.5%;
  left: 28%;
}

div#information{
  display: none;
  color: white;
  background: rgba(0,0,0,0);
  position: absolute;
  top: 20%;
  left:31.5%;
  overflow: scroll;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 640px;
  height: 380px;
}

div#information::-webkit-scrollbar {
  display: none;
}

h1{
  font-size: 29px;
  margin: 0;
}

img#close_banner_button{
  display: none;
  position: absolute;
  top: 14%;
  left:72.7%;
  width:40px;
  height: 40px;
}

img#close_banner_button:hover{
  cursor: pointer;
}